@use '../../foundation/_variable' as *;

@media (max-width:750px) {
    .l-header {
        &__menu-btn {
            color:#707070;
            border: none;               /* 枠線を消す */
            outline: none;              /* クリックしたときに表示される枠線を消す */
            background: transparent;    /* 背景の灰色を消す */
        }
        &__form{
            &__box {
                border-radius: 0.6rem;
                border: solid 1px #707070;
                font-weight: 500;
            }

            &__btn {
                border-radius: 0.6rem;
                border: solid 1px #707070;
                color: #707070;
            }
        }
    }
}