.c-pagenation{
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
    span {
        font-family: 'Roboto', sans-serif;
        font-weight: bold;
        border: none;
        padding: 3px 5px;
        margin: 6px;
    }
    &__current {
        width: 35px;
        height: 35px;
        text-align: center;
        border: 1px solid #707070;
        margin-right: 15px;
        color: #fff;
        background-color: #3C2B1C;
    }
    a {
        font-family: 'Roboto', sans-serif;
        font-weight: bold;
        color: #707070;
        width: 35px;
        height: 35px;
        text-align: center;
        border: 1px solid #707070;
        margin: 6px;
        padding: 3px 5px;
    }
    .prev, .next {
        border: none;
    }
}