@charset "UTF-8";
html {
  font-size: 100%;
}

body {
  color: #707070;
  font-family: "Roboto", sans-serif;
}

a {
  color: #707070;
  text-decoration: none;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

@media (max-width: 750px) {
  .l-header {
    background-color: #FFF7EF;
    padding-bottom: 0;
    /* 検索フォーム + ボタン */
    /* Compornentになる想定 */
  }
  .l-header span {
    display: block;
    text-align: right;
    font-size: 1.8rem;
    font-weight: bold;
    padding: 20px 20px 0px 0px;
    margin: 0;
    background-color: aqua;
  }
  .l-header .l-logo {
    display: block;
    margin: auto;
  }
  .l-header .l-mainvisual__wrapper {
    position: relative;
  }
  .l-header .l-mainvisual__wrapper .l-sp {
    width: 100%;
    height: 400px;
    object-fit: cover;
  }
  .l-header .l-mainvisual__wrapper p {
    position: absolute;
    font-size: 3rem;
    font-weight: bold;
    color: #fff;
    top: 40%;
    left: 5%;
  }
}
@media (max-width: 750px) {
  .l-footer {
    background-image: url(../../img/footer.png);
    height: 200px;
  }
  .l-footer li {
    color: #fff;
    font-family: "M PLUS 1p", sans-serif;
    font-size: 1.6rem;
    padding-top: 50px;
    text-align: center;
  }
  .l-footer address {
    color: #fff;
    font-family: "M PLUS 1p", sans-serif;
    font-style: normal;
    font-size: 1.2rem;
    text-align: center;
    padding-top: 30px;
  }
}
.l-contents {
  display: block;
  width: 100%;
  height: auto;
  padding: 1.5rem 1.5rem 2rem;
}

.p-card {
  position: relative;
  width: 100%;
  height: auto;
  margin-bottom: 1.5rem;
}
.p-card img {
  width: 100%;
  height: 100%;
}
.p-card h2 {
  position: absolute;
  color: #EAEAEA;
  top: 10px;
  left: 20px;
  font-size: 2.8rem;
}
.p-card h2::before {
  position: absolute;
  bottom: -2rem;
  width: 3.5rem;
  height: 0.3rem;
  background-color: #fff;
  content: "";
}