@charset "UTF-8";
html {
  font-size: 62.5%;
}

body {
  color: #707070;
  font-family: "Roboto", sans-serif;
}

a {
  color: #707070;
  text-decoration: none;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

h1, h2, h3, h4, P {
  margin: 1rem;
}

@media (max-width: 750px) {
  .l-header {
    width: 100%;
    height: 220px;
    background-color: #FFF7EF;
    display: flex;
    align-items: center;
    flex-direction: column;
    /* 検索フォーム + ボタン */
  }
  .l-header__menu-btn {
    font-size: 2rem;
    display: block;
    margin-left: auto;
    font-weight: bold;
    padding-top: 1.5rem;
    padding-right: 1.5rem;
    cursor: pointer;
  }
  .l-header__logo {
    margin-left: 3rem;
  }
  .l-header__logo a {
    color: #707070;
    font-size: 4rem;
  }
  .l-header__form {
    margin: 1.8rem auto;
  }
  .l-header__form__box {
    width: 25rem;
    height: 3.5rem;
    margin-right: 1rem;
  }
  .l-header__form__btn {
    width: 7rem;
    height: 3.5rem;
    cursor: pointer;
  }
}
@media (max-width: 750px) {
  .l-footer {
    background-image: url(../../img/footer.png);
    height: 200px;
  }
  .l-footer li {
    color: #fff;
    font-family: "M PLUS 1p", sans-serif;
    font-size: 2.5rem;
    padding-top: 50px;
    text-align: center;
  }
  .l-footer address {
    color: #fff;
    font-family: "M PLUS 1p", sans-serif;
    font-style: normal;
    font-size: 2rem;
    text-align: center;
    padding-top: 30px;
  }
}
@media (max-width: 750px) {
  .l-contents {
    display: block;
    width: 100%;
    height: auto;
    padding: 1.5rem 1.5rem 2rem;
  }
}
@media (max-width: 750px) {
  .l-sidebar {
    display: none;
    /* 検証用（あとでnoneに戻す） */
    position: absolute;
    top: 0;
    right: 0;
    width: 45%;
    height: 100vh;
    overflow: scroll;
    -ms-overflow-style: none;
    /* IE、Edgeでスクロールバーを消す */
    -ms-overflow-style: none;
    /* Firefoxでスクロールバーを消す */
    background-color: #f2ede9;
  }
  .l-sidebar::-webkit-scrollbar {
    display: none;
    /* Chrome、Safariでスクロールバーを消す */
  }
  .l-sidebar h2 {
    display: none;
  }
  .l-sidebar h3 {
    padding: 45px 40px 0px 35px;
  }
  .l-sidebar li {
    list-style: none;
    line-height: 20px;
    padding: 10px 0px 20px 65px;
  }
}
@media (max-width: 750px) {
  .l-mainvisual__wrapper {
    position: relative;
  }
  .l-mainvisual__wrapper .l-sp {
    width: 100%;
    height: 400px;
    object-fit: cover;
  }
  .l-mainvisual__wrapper p {
    position: absolute;
    font-size: 4.8rem;
    font-weight: bold;
    color: #fff;
    top: 40%;
    left: 5%;
  }
}
@media (max-width: 750px) {
  .l-header__menu-btn {
    color: #707070;
    border: none;
    /* 枠線を消す */
    outline: none;
    /* クリックしたときに表示される枠線を消す */
    background: transparent;
    /* 背景の灰色を消す */
  }
  .l-header__form__box {
    border-radius: 0.6rem;
    border: solid 1px #707070;
    font-weight: 500;
  }
  .l-header__form__btn {
    border-radius: 0.6rem;
    border: solid 1px #707070;
    color: #707070;
  }
}
.p-card {
  position: relative;
  width: 100%;
  height: auto;
  margin-bottom: 1.5rem;
}
.p-card img {
  width: 100%;
  height: 100%;
}
.p-card h2 {
  position: absolute;
  color: #EAEAEA;
  top: 10px;
  left: 20px;
  font-size: 4.8rem;
}
.p-card h2::before {
  position: absolute;
  bottom: -2rem;
  width: 3.5rem;
  height: 0.3rem;
  background-color: #fff;
  content: "";
}

@media (max-width: 750px) {
  .p-takeout__wrapper {
    position: absolute;
    width: 100%;
    bottom: 1.3rem;
  }
  .p-takeout__list {
    width: 90%;
    margin: 0 auto 0;
    padding-right: 2rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
    background-color: rgba(255, 255, 255, 0.7);
  }
  .p-takeout__list h3 {
    padding-top: 2rem;
    padding-bottom: 2rem;
    font-size: 3rem;
  }
  .p-takeout__list p {
    font-size: 2rem;
    padding-bottom: 5rem;
  }
}
@media (max-width: 750px) {
  .p_access {
    width: 100%;
    height: 650px;
    position: relative;
    overflow: hidden;
  }
  .p_access iframe {
    position: absolute;
  }
  .p_access__text {
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 15;
    padding: 20px 0 0 40px;
  }
  .p_access__text h3 {
    color: #fff;
    font-size: 4rem;
    font-weight: normal;
  }
  .p_access__text h3::after {
    position: absolute;
    content: "";
    width: 90px;
    height: 3px;
    background-color: #fff;
    top: 100px;
    left: 50px;
  }
  .p_access__text p {
    padding-top: 30px;
    color: #fff;
    line-height: 1.8;
    font-size: 16px;
  }

  .c-layer1 {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 10;
  }

  .c-layer2 {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 5;
  }
}