@charset "UTF-8";
html {
  font-size: 62.5%;
}

body {
  color: #3C2A10;
  font-family: "Roboto", "M PLUS 1p", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", "游ゴシック", "Yu Gothic", "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  font-size: 1.6rem;
}

a {
  color: #707070;
  text-decoration: none;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

dd {
  margin-left: 0;
}

h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
}

button, input, form {
  padding: 0;
  margin: 0;
}

@media (max-width: 750px) {
  .l-header {
    width: 100%;
    height: 220px;
    background-color: #FFF7EF;
    text-align: center;
    /* 検索フォーム + ボタン */
  }
  .l-header__menu-btn {
    font-size: 2rem;
    display: block;
    margin-left: auto;
    font-weight: bold;
    padding-top: 10px;
    padding-right: 20px;
    cursor: pointer;
  }
  .l-header__logo {
    font-size: 4rem;
    font-weight: bold;
    color: #707070;
    margin-bottom: 30px;
  }
  .l-header__form {
    width: 100%;
  }
  .l-header__form__wrap {
    position: relative;
    display: inline;
  }
  .l-header__form__search {
    width: 55%;
    height: 46px;
    border-radius: 10px;
    border: 1px solid #707070;
    margin-right: 4px;
    text-align: left;
    padding-left: 36px;
    position: relative;
  }
  .l-header__form__btn {
    width: 15%;
    height: 46px;
    border-radius: 10px;
    border: 1px solid #707070;
    background: linear-gradient(#f2ede9 0%, #ded8d3 100%);
    cursor: pointer;
  }
}
@media (max-width: 750px) {
  .l-footer {
    background-image: url(../../img/footer.png);
    height: 200px;
  }
  .l-footer li {
    color: #fff;
    font-family: "M PLUS 1p", sans-serif;
    font-size: 2.5rem;
    padding-top: 50px;
    text-align: center;
  }
  .l-footer address {
    color: #fff;
    font-family: "M PLUS 1p", sans-serif;
    font-style: normal;
    font-size: 2rem;
    text-align: center;
    padding-top: 30px;
  }
}
@media (max-width: 750px) {
  .l-sidebar {
    display: none;
    /* 検証用（あとでnoneに戻す） */
    position: absolute;
    top: 0;
    right: 0;
    width: 45%;
    height: 100vh;
    overflow: scroll;
    -ms-overflow-style: none;
    /* IE、Edgeでスクロールバーを消す */
    -ms-overflow-style: none;
    /* Firefoxでスクロールバーを消す */
    background-color: #f2ede9;
  }
  .l-sidebar::-webkit-scrollbar {
    display: none;
    /* Chrome、Safariでスクロールバーを消す */
  }
  .l-sidebar h2 {
    display: none;
  }
  .l-sidebar h3 {
    font-size: 1.8rem;
    padding: 30px 40px 0px 35px;
  }
  .l-sidebar li {
    font-size: 1.2rem;
    list-style: none;
    line-height: 20px;
    padding: 10px 0px 5px 65px;
  }
}
@media (max-width: 750px) {
  .l-mainvisual__wrapper {
    background: url(../../img/mainvisual-sp@2x.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
    display: flex;
    align-items: center;
    width: 100%;
    height: 285px;
    padding-left: 25px;
    margin-bottom: 30px;
  }
  .l-mainvisual__wrapper h2 {
    color: #fff;
    font-size: 5rem;
    font-weight: bold;
  }
}
@media (max-width: 750px) {
  .l-header__menu-btn {
    color: #707070;
    border: none;
    /* 枠線を消す */
    outline: none;
    /* クリックしたときに表示される枠線を消す */
    background: transparent;
    /* 背景の灰色を消す */
  }
  .l-header__form__box {
    border-radius: 0.6rem;
    border: solid 1px #707070;
    font-weight: 500;
  }
  .l-header__form__btn {
    border-radius: 0.6rem;
    border: solid 1px #707070;
    color: #707070;
  }
}
.p-card {
  padding: 0 20px;
  margin-bottom: 60px;
}
.p-card__list {
  padding: 3%;
  margin-bottom: 20px;
  width: 100%;
}
.p-card__list h2 {
  font-size: 4.4rem;
  font-weight: bold;
  color: #fff;
  position: relative;
  margin-bottom: 200px;
}
.p-card__list h2::after {
  content: "";
  position: absolute;
  display: block;
  width: 35px;
  height: 3px;
  background: #fff;
  bottom: -18px;
  left: 0;
}
.p-card__list dl {
  background: #fff;
  opacity: 0.8;
  padding: 3% 3% 9% 3%;
  margin-bottom: 3%;
}
.p-card__list dl dt {
  font-size: 2.2rem;
  margin-bottom: 20px;
}
.p-card__list.-takeout {
  background: url(../../../img/takeout.png) no-repeat;
  background-size: cover;
  background-position: center center;
}
.p-card__list.-eatin {
  background: url(../../../img/eatin.png) no-repeat;
  background-size: cover;
  background-position: center center;
}

@media (max-width: 750px) {
  .p-content {
    display: block;
  }
}
@media (max-width: 750px) {
  .p_access {
    width: 100%;
    height: 650px;
    position: relative;
    overflow: hidden;
  }
  .p_access iframe {
    position: absolute;
  }
  .p_access__text {
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 15;
    padding: 20px 0 0 40px;
  }
  .p_access__text h3 {
    color: #fff;
    font-size: 4rem;
    font-weight: normal;
  }
  .p_access__text h3::after {
    position: absolute;
    content: "";
    width: 90px;
    height: 3px;
    background-color: #fff;
    top: 100px;
    left: 50px;
  }
  .p_access__text p {
    padding-top: 30px;
    color: #fff;
    line-height: 1.8;
    font-size: 16px;
  }

  .c-layer1 {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 10;
  }

  .c-layer2 {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 5;
  }
}