@charset "UTF-8";
html {
  font-size: 62.5%;
}

body {
  color: #3C2A10;
  font-family: "Roboto", "M PLUS 1p", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", "游ゴシック", "Yu Gothic", "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  font-size: 1.6rem;
  /* bodyとfooterの隙間をなくす */
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

article {
  display: block;
}

aside {
  display: block;
}

a {
  color: #707070;
  text-decoration: none;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

dd {
  margin-left: 0;
}

h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
}

button, input, form {
  padding: 0;
  margin: 0;
}

/* マップの定義 */
/* mixinの定義 */
.l-header {
  width: 100%;
  height: 220px;
  background-color: #FFF7EF;
  text-align: center;
  /* 検索フォーム + ボタン */
}
@media screen and (min-width: 1025px) {
  .l-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.l-header__menu-btn {
  font-size: 2rem;
  display: block;
  margin-left: auto;
  font-weight: bold;
  padding-top: 10px;
  padding-right: 20px;
  cursor: pointer;
}
@media screen and (min-width: 1025px) {
  .l-header__menu-btn {
    display: none;
  }
}
.l-header__logo {
  font-size: 4rem;
  font-weight: bold;
  color: #707070;
  margin-bottom: 30px;
}
@media screen and (min-width: 1025px) {
  .l-header__logo {
    margin-bottom: 0;
    margin-left: 60px;
    font-size: 6.4rem;
  }
}
.l-header__form {
  width: 100%;
}
.l-header__form__wrap {
  position: relative;
  display: inline;
}
.l-header__form__wrap::after {
  content: "";
  position: absolute;
  top: 0;
  left: 8px;
  background: url(../../img/search.png) no-repeat;
  width: 30px;
  height: 30px;
}
@media screen and (min-width: 1025px) {
  .l-header__form {
    text-align: right;
  }
}
.l-header__form__search {
  width: 55%;
  height: 46px;
  border-radius: 10px;
  border: 1px solid #707070;
  margin-right: 4px;
  text-align: left;
  padding-left: 36px;
  position: relative;
}
.l-header__form__btn {
  width: 15%;
  height: 46px;
  border-radius: 10px;
  border: 1px solid #707070;
  background: linear-gradient(#f2ede9 0%, #ded8d3 100%);
  cursor: pointer;
}

.l-footer {
  background-image: url(../../img/footer.png);
  height: 200px;
}
.l-footer li {
  color: #fff;
  font-family: "M PLUS 1p", sans-serif;
  font-size: 2.5rem;
  padding-top: 50px;
  text-align: center;
}
.l-footer address {
  color: #fff;
  font-family: "M PLUS 1p", sans-serif;
  font-style: normal;
  font-size: 2rem;
  text-align: center;
  padding-top: 30px;
}

.l-sideber__bg {
  display: none;
  /* blockへの切替制御はjs */
  /*  グレー背景 + サイドバーが表示時は
      html, bodyにoverflow: hidden; を設定することでスクロール禁止にする
      メニューボタンを押下したタイミングのため、制御はjs  */
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 99;
  background-color: rgba(51, 51, 51, 0.5);
  top: 0;
  left: 0;
}

.l-sidebar {
  display: none;
  /* 検証用（あとでnoneに戻す） */
  position: fixed;
  top: 0;
  right: 0;
  width: 85%;
  height: 100%;
  overflow-y: scroll;
  background-color: #f2ede9;
  padding-top: 170px;
  z-index: 100;
}
.l-sidebar::-webkit-scrollbar {
  display: none;
  /* Chrome、Safariでスクロールバーを消す */
}
@media screen and (min-width: 600px) {
  .l-sidebar {
    min-width: 360px;
    width: 40%;
  }
}
@media screen and (min-width: 1025px) {
  .l-sidebar {
    display: block;
    padding-top: 80px;
    position: static;
    height: auto;
  }
}
.l-sidebar h2 {
  display: none;
}
@media screen and (min-width: 1025px) {
  .l-sidebar h2 {
    display: block;
    font-size: 3rem;
    margin-left: 46px;
    margin-bottom: 85px;
  }
}
.l-sidebar h3 {
  font-size: 2.5rem;
  padding: 30px 40px 0px 35px;
}
.l-sidebar li {
  font-size: 1.8rem;
  font-weight: normal;
  list-style: none;
  line-height: 20px;
  padding: 30px 0px 5px 65px;
}
.l-sidebar.open {
  transform: translateX(0);
}

.l-mainvisual__wrapper {
  background: url(../../img/mainvisual-sp@2x.jpg) no-repeat;
  background-size: cover;
  background-position: center center;
  display: flex;
  align-items: center;
  width: 100%;
  height: 285px;
  padding-left: 25px;
  margin-bottom: 30px;
}
.l-mainvisual__wrapper h2 {
  color: #fff;
  font-size: 5rem;
  font-weight: bold;
}
@media screen and (min-width: 600px) {
  .l-mainvisual__wrapper {
    background: url(../../img/mainvisual-pc@2x.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
    margin-bottom: 40px;
  }
}
@media screen and (min-width: 1025px) {
  .l-mainvisual__wrapper {
    height: 530px;
  }
}

@media screen and (min-width: 1025px) {
  .l-main {
    display: flex;
    width: 100%;
    height: 100%;
  }
}

.l-header__menu-btn {
  color: #707070;
  border: none;
  /* 枠線を消す */
  outline: none;
  /* クリックしたときに表示される枠線を消す */
  background: transparent;
  /* 背景の灰色を消す */
}
.l-header__form__box {
  border-radius: 0.6rem;
  border: solid 1px #707070;
  font-weight: 500;
}
.l-header__form__btn {
  border-radius: 0.6rem;
  border: solid 1px #707070;
  color: #707070;
}

.c-menu__btn {
  position: absolute;
  display: block;
  width: 40px;
  height: 40px;
  top: 12px;
  right: 24px;
  font-size: 0;
  margin-left: auto;
  border: none;
  background-color: #f2ede9;
  cursor: pointer;
}
@media screen and (min-width: 1025px) {
  .c-menu__btn {
    display: none;
  }
}

span::before {
  content: "";
  display: block;
  position: absolute;
  top: 20px;
  right: 0;
  background: #707070;
  width: 40px;
  height: 5px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

span::after {
  content: "";
  display: block;
  position: absolute;
  top: 20px;
  right: 0;
  background: #707070;
  width: 40px;
  height: 5px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.p-card {
  padding: 0 20px;
  margin-bottom: 60px;
}
@media screen and (min-width: 600px) {
  .p-card {
    padding: 0 20px;
    display: flex;
    justify-content: space-around;
  }
}
.p-card__list {
  padding: 3%;
  margin-bottom: 10px;
  width: 100%;
}
@media screen and (min-width: 600px) {
  .p-card__list {
    width: 45%;
  }
}
.p-card__list h2 {
  font-size: 4.4rem;
  font-weight: bold;
  color: #fff;
  position: relative;
  margin-bottom: 200px;
}
.p-card__list h2::after {
  content: "";
  position: absolute;
  display: block;
  width: 35px;
  height: 3px;
  background: #fff;
  bottom: -18px;
  left: 0;
}
.p-card__list dl {
  background: #fff;
  opacity: 0.8;
  padding: 3% 3% 9% 3%;
  margin-bottom: 3%;
}
.p-card__list dl dt {
  font-size: 2.2rem;
  margin-bottom: 20px;
}
.p-card__list.-takeout {
  background: url(../../../img/takeout.png) no-repeat;
  background-size: cover;
  background-position: center center;
}
.p-card__list.-eatin {
  background: url(../../../img/eatin.png) no-repeat;
  background-size: cover;
  background-position: center center;
}

.p-access {
  position: relative;
  width: 100%;
  color: #fff;
  padding-top: 40px;
  padding-bottom: 50px;
  padding-left: calc(20px + 3%);
  padding-right: calc(20px + 3%);
}
@media screen and (min-width: 1025px) {
  .p-access {
    padding-left: 0;
    padding-right: 0;
  }
}
.p-access iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -3;
}
.p-access .c-layer1 {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: -2;
}
.p-access .c-layer2 {
  position: absolute;
  width: 100%;
  height: 60%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: -1;
}
@media screen and (min-width: 600px) {
  .p-access .c-layer2 {
    height: 100%;
  }
}
@media screen and (min-width: 1025px) {
  .p-access .c-layer2 {
    width: 60%;
  }
}
.p-access__text {
  font-size: 1.4rem;
  line-height: 2;
}
@media screen and (min-width: 1025px) {
  .p-access__text {
    width: 60%;
    padding: 1%;
  }
}
.p-access__text h2 {
  position: relative;
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 40px;
}
.p-access__text h2::after {
  content: "";
  display: block;
  position: absolute;
  width: 75px;
  height: 3px;
  background-color: #fff;
  bottom: -18px;
  left: 0;
}