/* マップの定義 */
$breakpoints: (
    'tab': 'screen and (min-width: 600px)',
    'pc': 'screen and (min-width: 1025px)',
) !default;

/* mixinの定義 */
@mixin mq($breakpoint: tab) {
    @media #{map-get($breakpoints, $breakpoint)} {
        @content;
    }
}

/* マップの定義 */
$bg-images: (
    'main-bg-tab': '../../img/mainvisual-sp@2x.jpg',
    'main-bg-pc': '../../img/mainvisual-pc@2x.jpg',
    'archive-bg': '../../img/three-burgers-on-brown-wooden-tray-between-white-ceramic-1841108.jpg',
    'shop-bg': '../../img/page-title_shop@2x.jpg',
    'single-bg': '../../img/ham-burger-with-vegetables-1639557.png'
);

@mixin background($bg-image: main-bg-tab) {
    background: url(map-get($bg-images, $bg-image)) no-repeat;
}