@use '../../foundation/_variable' as *;
@use '../../object/Utility/_mixin' as *;

.posted {
    font-size: 1.4rem;
    line-height: 2;
    margin: 0 40px;
    @include mq('pc') {
        width: 90%;
    }
    &__title {
        margin: 30px 0px;
        h2 {
            margin-bottom: 30px;
        }
    }
    &__quote {
        margin-bottom: 30px;
        padding: 50px;
        p {
            box-sizing: border-box;
            padding-bottom: 50px;
        }
        cite {
            box-sizing: border-box;
            font-style: normal;
            a {
                color: #4A6C9B;
                text-decoration: underline;
            }
        }
    }

    &__single {
        img {
            width: 100%;
            height: 200px;
            @include mq('tab') {
                height: 280px;
            }
            @include mq('pc') {
                height: 350px;
            }
            object-fit: cover;
            object-position: bottom;
        }
    }

    .c-two__column li {
        margin-bottom: 40px;
        .image {
            width: 45%;
        }
        .text {
            width: 55%;
        }
        &:nth-child(even) .text {
            padding-right: 10px;
        }
        &:nth-child(odd) .text {
            padding-left: 10px;
        }
    }
    

    &__half {
        width: 80%;
        margin: 0 auto 40px auto;
    }

    .c-tile {
        &__list {
            margin: 10px 0 10px 0;
            @include mq('tab') {
                width:calc((100% - 20px) / 2);
                &:nth-child(2n){
                    margin: 0 10px 0 10px;
                }
            }
            @include mq('pc') {
                width:calc((100% - 20px) / 3);
                &:nth-child(2n){
                    margin: 0;          // タブレット時のmarginを打ち消し
                }
                &:nth-child(3n + 2){
                    margin: 0 10px 0 10px;
                }
            }
        }
    }

    &__list {
        width: 100%;
        padding: 6px;
        font-size: 16px;
        ol {
            font-family: 'M PLUS 1p';
            line-height: 1.6;
            counter-reset: count 0;
            li {
                list-style: none;
                &:before {
                    content: counter(count) ". ";
                    counter-increment: count 1;
                }
                ol {
                    padding: 30px 20px;
                }
            }
        }
        ul {
            font-family: 'M PLUS 1p';
            line-height: 1.6;
            padding-top: 60px;
            li {
                ul {
                    padding: 30px 20px;
                }
            }
        }
    }
}
