@use '../../foundation/_variable' as *;

@media (max-width:750px) {
    .p-content {
        display: block;
    }
    // .p-takeout {
    //     &__wrapper {
    //         position: absolute;
    //         width: 100%;
    //         bottom: 1.3rem;
    //     }
    //     &__list {
    //         width: 90%;
    //         margin: 0 auto 0;
    //         padding-right: 2rem;
    //         padding-bottom: 1rem;
    //         padding-left: 1rem;
    //         background-color: rgba(255, 255, 255, 0.7);
    //         h3 {
    //             padding-top: 2rem;
    //             padding-bottom: 2rem;
    //             font-size: 3rem;
    //         }
    //         p {
    //             font-size: 2rem;
    //             padding-bottom: 5rem;
    //         }
    //     }
    // }
}