@use '../foundation/_variable' as *;

@media (max-width:750px) {
    .l-header{
        width: 100%;
        height: 220px;
        background-color:#FFF7EF;
        display: flex;
        align-items: center;
        flex-direction: column;

        &__menu-btn {
            font-size: 2.0rem;
            display: block;
            margin-left: auto;
            font-weight: bold;
            padding-top: 1.5rem;
            padding-right: 1.5rem;
            cursor: pointer;
        }

        &__logo {
            margin-left: 3rem;
            a {
                color: #707070;
                font-size: 4rem;
            }
        }

        /* 検索フォーム + ボタン */
        &__form {
            margin: 1.8rem auto;
            &__box {
                width: 25rem;
                height: 3.5rem;
                margin-right: 1rem;
            }
            &__btn {
                width: 7rem;
                height: 3.5rem;
                cursor: pointer;
            }
        }
    }
}