@use '../foundation/_variable' as *;
@use '../object/Utility/_mixin' as *;

.l-mainvisual__wrapper {
    background: url(../../img/mainvisual-sp@2x.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
    display: flex;
    align-items: center;
    width: 100%;
    height: 285px;
    padding-left: 25px;
    margin-bottom: 30px;
    h2 {
        color: #fff;
        font-size: 5rem;
        font-weight: bold;
    }
    @include mq('tab') {
        background: url(../../img/mainvisual-pc@2x.jpg) no-repeat;
        background-size: cover;
        background-position: center center;
        margin-bottom: 40px;
    }
    @include mq('pc') {
        height: 530px;
    }
}
