@use '../foundation/_variable' as *;
@use '../object/Utility/_mixin' as *;

.l-visual {
    width: 100%;
    height: 285px;
    position: relative;
    h2 {
        color: #fff;
        font-size: 5rem;
        font-weight: bold;
    }
    &__title {
        font-size: 4rem;
        position: absolute;
        top: calc(50% - 4rem);
        left: 6vw;
        line-height: 4rem;
        span {
            font-size: 15px;
            vertical-align: top;
        }
    }
}

// -----------------------------------------------------------------
// achive
// -----------------------------------------------------------------
.l-visual.-achive {
    @include background("archive-bg");
    background-size: cover;
    background-position: 10%;
    background-size: auto;
}
